/*http://stackoverflow.com/questions/114543/how-to-horizontally-center-a-div-in-a-div*/

/*.tak-footer-p {
    width:50%;
    margin: 0 auto;
}*/

.tak-footer {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #777;
    padding-top:15px;
    padding-bottom:15px;
    border-top: 1px solid #ccc;
    margin-top: 40px;
}

body {
  padding-top: 10px;
}


/*ul.social{
    margin: 0px -10px 0px 0px;
    padding: 0px -10px 0px 0px;
}*/

ul.social li{
    float: left;
    margin-left: -0px;
    margin-right: -0px;
}
ul.my-social li{
    float: right;
/*    position:relative;
    top:-50px;*/
    margin-left: -0px;
    margin-right: -0px;
    display: inline;
}
/*ul.social li:first-child {
	margin-left: 0;
}
*/
ul.social li{
    position: relative;
    top: -10px;
    display: inline;
}

.nav>li>a{
    padding: 10px;
}



/* ========================================================================== */
/*              Thing i added  (10/25/2014)                                   */
/* ========================================================================== */
@media (min-width: 600px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-y: visible;
  }
  .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }
}

.tak-main-body {
  /*padding: -10px 15px;*/
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: justify;
  margin-left: 8px;
  margin-right: 8px;  
}
div.navbar.navbar-inverse.navbar-top{
  border-radius: 10px;
}

ul.nav.navbar-nav{
    font-size: 18px;
}

@media (min-width: 300px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar-nav.navbar-right:last-child {
    margin-right: -15px;
  }
}

mark {
  color: #000;
  background: yellow;
}

.my-contact-info{
  margin: 0pt;
  margin-left:-20px;
  list-style-type: none;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 920px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

div.header{
    margin-left: 5px;
}

.my-proj-name{
    position: relative;
    top:50px;
}

div.header{
    position:relative;
    top:-40px;
}

/* Default font size: (h1,h2,h3,h4,h5,h6)=(36,30,24,18,14,12) */
h1{font-size: 30px;}
h2{font-size: 22px;}
h3{font-size: 18px;}
h4{font-size: 16px;}
h5{font-size: 12px;}
h6{font-size: 10px;}